@import url('../../../styles/style-vars.css');

.title {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  line-height: 1.5;
  width: 100%;
}

.form-group:first-of-type {
  margin-top: 16px;
}

.label {
  cursor: pointer;
}

.input {
  width: 100%;
  height: 40px;
  padding: 8px;
}

.review-input {
  resize: none;
  min-height: 100px;
}

.submit-button {
  margin-top: 16px;
  height: 32px;
  text-transform: uppercase;
  width: 100%;
}

.is-submitting {
  pointer-events: none;
  opacity: 0.4;
}
