.title {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 16px;
  line-height: 1.5;
}

.form-group:first-of-type {
  margin-top: 8px;
}

.submit-button {
  margin-top: 16px;
}
