@import url('../../styles/style-vars.css');

:root {
  --primary-btn-bg-color: var(--primary-color);
  --secondary-btn-bg-color: var(--secondary-bg-color);
  --focus-line: 1px solid var(--button-focus-color);
  --warning-border: 1px solid var(--warning-color);
  --warning-disabled-bg: rgba(255, 166, 35, 0.65);
  --danger-border: 1px solid var(--alert-color);
  --danger-disabled-bg: rgba(255, 99, 80, 0.85);
}

.button {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: var(--border-radius);
  outline: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &[disabled] {
    cursor: default;
  }

  .content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.base-box-shadow {
  box-shadow: var(--btn-base-box-shadow);
}

.box-shadow-none {
  box-shadow: none !important;
}

.disabled {
  composes: box-shadow-none;
}

.primary {
  /* the following line is necessary for FF */
  outline: 0 !important;

  &:global(.focus-visible) {
    border: var(--focus-line);
  }

  &.md-theme {
    color: var(--primary-btn-text-color);
    background-color: var(--primary-btn-bg-color);
    composes: base-box-shadow;
  }

  &.md-theme:hover:enabled {
    color: var(--primary-btn-hover-text-color);
    background-color: var(--primary-btn-hover-bg-color);
  }

  &.md-theme:active:enabled {
    background-color: var(--primary-btn-active-bg-color);
    box-shadow: var(--primary-btn-active-box-shadow);
    border: var(--primary-border) !important;
  }

  &.md-theme[disabled] {
    color: var(--primary-btn-disabled-text-color);
    background-color: var(--primary-btn-disabled-bg-color);
    border: 1px solid var(--primary-btn-disabled-bg-color) !important;
  }

  &.flat-theme {
    color: var(--secondary-color);
    background-color: var(--secondary-btn-bg-color);
    border: 2px solid var(--secondary-color);
    box-shadow: none;
  }

  &.flat-theme:hover:enabled {
    background-color: var(--primary-bg-color);
  }

  &.flat-theme[disabled] {
    color: var(--secondary-color);
    background-color: var(--primary-btn-disabled-bg-color);
    opacity: 0.4;
  }
}


.warning {
  /* the following line is necessary for FF */
  outline: 0 !important;

  &:global(.focus-visible) {
    border: var(--focus-line);
  }

  &.md-theme {
    color: var(--primary-btn-text-color);
    background-color: var(--warning-color);
    composes: base-box-shadow;
    border: var(--warning-border);
  }

  &.md-theme:hover:enabled {
    color: var(--primary-btn-hover-text-color);
    background-color: var(--warning-btn-hover-bg-color);
    border: var(--warning-border) !important;
  }

  &.md-theme:active:enabled {
    background-color: var(--warning-btn-active-bg-color);
    box-shadow: var(--warning-btn-active-box-shadow);
    border: var(--warning-border) !important;
  }

  &.md-theme[disabled] {
    color: var(--primary-btn-text-color);
    background-color: var(--warning-disabled-bg);
    border: 1px solid var(--warning-disabled-bg) !important;
  }

  &.flat-theme {
    color: var(--primary-btn-text-color);
    background-color: var(--warning-color);
    border: 2px solid var(--secondary-color);
    box-shadow: none;
  }

  &.flat-theme:hover:enabled {
    background-color: var(--warning-btn-hover-bg-color);
  }

  &.flat-theme[disabled] {
    background-color: var(--warning-disabled-bg);
    opacity: 0.4;
  }
}

.danger {
  /* the following line is necessary for FF */
  outline: 0 !important;

  &:global(.focus-visible) {
    border: var(--focus-line);
  }

  &.md-theme {
    color: var(--primary-btn-text-color);
    background-color: var(--danger-color);
    border: var(--danger-border);
  }

  &.md-theme:hover:enabled {
    color: var(--primary-btn-hover-text-color);
    background-color: var(--danger-btn-hover-bg-color);
    border: var(--danger-border) !important;
  }

  &.md-theme:active:enabled {
    background-color: var(--danger-btn-active-bg-color);
    box-shadow: var(--danger-btn-active-box-shadow);
    border: var(--danger-border) !important;
  }

  &.md-theme[disabled] {
    color: var(--primary-btn-text-color);
    background-color: var(--danger-disabled-bg);
    border: 1px solid var(--danger-disabled-bg) !important;
  }

  &.flat-theme {
    color: var(--primary-btn-text-color);
    background-color: var(--danger-color);
    border: 2px solid var(--secondary-color);
    box-shadow: none;
  }

  &.flat-theme:hover:enabled {
    background-color: var(--danger-btn-hover-bg-color);
   }

  &.flat-theme[disabled] {
    background-color: var(--danger-disabled-bg);
    opacity: 0.4;
  }
}
