.header {
  background-color: var(--secondary-bg-color);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.theme-toggle {
  height: 32px;
}
