@import url('../../../styles/style-vars.css');

.review-form {
  margin: 32px 0 16px;
  max-width: 600px;
}

.dishes,
.reviews {
  list-style: none;
}

.dishes li,
.reviews li {
  max-width: 600px;
  margin: 0;
}

.dishes li:not(:last-of-type),
.reviews li:not(:last-of-type) {
  margin-bottom: 16px;
}
